body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 15px;
  }
  
  /* Navbar styles */
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    font-size: 1.1em;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  #navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  #navbar li {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    position: relative;
    border-top: 1px solid;
    padding: 5px 0;
  }
  
  #navbar a {
    text-decoration: none;
    color: #333;
    padding-left: 40px;
    text-align: left;
    cursor: pointer;
  }
  
  /* Main content styles */
  #main-doc {
    margin-left: 320px; /* Account for the width of the navbar */
    padding: 20px;
    margin-top:15px;
    font-size: 15.5px;
    color: #4d4e53;
  }
  
  .main-section {
    margin-bottom: 40px;
  }
  
  .main-section header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-section p {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .main-section code {
    font-family: monospace;
    background-color: #f2f2f2;
    padding: 2px 4px;
  }
  
  .main-section ul {
    list-style-type: disc;
    margin-left: 20px;
    
  }
  .main-section ul li{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  

.codeDiv{
  background-color: #f2f2f2;
  margin: 0 20px;
  padding: 20px;
  font-size: 13px;
  border-radius: 5px;
  line-height: 2;
}


  /* Media query for smaller screens */
  @media (max-width: 768px) {
    #navbar {
      width: 100%;
      height: auto;
      position: static;
    }
  
    #main-doc {
      margin-left: 0;
    }
  }

